<div class="blog-post-detail-card card col-lg-12">
    <img class="card-img-top" src="assets/images/tech.jpg" alt="Card image cap">
    <div class="card-body bg-light">
        <strong class="d-inline-block mb-2 text-success">Design</strong>
        <h3 class="card-title">Long blog post title</h3>
        <div class="mb-1 text-muted">Dec 11, 2018</div>
        <p>
            Bacon ipsum dolor amet pork chop salami ham aliqua anim incididunt. Ex reprehenderit sed sausage
            filet mignon aliquip. Elit beef fugiat est dolore. Meatball tri-tip eu dolor tenderloin pig
            duis culpa corned beef prosciutto bacon adipisicing enim. Pig sausage lorem irure ipsum fugiat
            jowl esse. Ea eiusmod capicola incididunt boudin kielbasa adipisicing short loin exercitation
            t-bone sirloin officia.
        </p>

        <p>
            Beef ribs prosciutto consequat venison, in ground round occaecat ham hock sed do elit. Culpa
            tempor turkey ut sirloin. Consequat boudin filet mignon est in non. Dolor bacon bresaola ut
            turkey, ipsum tail pork loin drumstick short ribs.
        </p>
        <p>
            Deserunt turkey in, landjaeger enim andouille drumstick buffalo ribeye corned beef. Pariatur
            turkey dolor in pork loin do ut, et pork. Sausage do pariatur chicken consectetur frankfurter
            landjaeger pork loin esse dolor corned beef ut kielbasa bacon cupidatat. Dolor eiusmod shoulder
            kevin kielbasa. Jowl pork belly ball tip adipisicing.
        </p>
        <p>
            Brisket cow turducken pariatur pork loin prosciutto. Cow veniam laborum jowl pancetta.
            Burgdoggen short loin tongue picanha excepteur beef tempor. Venison dolore ullamco, deserunt
            occaecat commodo ex turkey hamburger. Pancetta ham ut ullamco ipsum anim id short ribs short
            loin t-bone aliqua.
        </p>
        <p>
            Ground round reprehenderit biltong, shoulder shank veniam burgdoggen laborum spare ribs
            consectetur labore cillum landjaeger occaecat. Landjaeger ea ut aliquip, do beef ribs dolore
            t-bone shank incididunt et cupim bacon pork belly. Meatloaf t-bone irure non pancetta. Cillum
            esse tail aliqua boudin shank filet mignon kielbasa sausage mollit proident.
        </p>

        </p>
        <div class="blog-detail-tag-list">
            <span class="read-more-heading">Read more: </span>
            <a class="btn btn-info" href="#" role="button">Tag</a>
            <a class="btn btn-info" href="#" role="button">Super Extra Long Tag</a>
            <a class="btn btn-info" href="#" role="button">Extra Long Tag</a>


        </div>
    </div>
</div>
